body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.custom-button {
    margin-left: 10px;
}

.borrow-list {
    border: solid 2px cornflowerblue;
    width: fit-content;
    padding: 0px 6px 0px 6px;
    border-top-right-radius: 17px;
    font-family: math;
    background: whitesmoke;
    color: black;
}

.maintain-info {
    padding: 20px;
    width: -moz-fit-content;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 13px;
    background: linear-gradient( 45deg, black, transparent);
    color: antiquewhite;
}

.custom-alert {
    color: #F55448;
    border: 1px solid #F55448;
    padding-left: 15px;
    background: #FDECEA;
    border-radius: 0.25rem;
}

.custom-select {
    margin-left: 10px;
    width: 150px;
}

Button {
    text-transform: none;
}

.primary {
    background-color: steelblue !important;
}